@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background-color: theme(colors.beige);
}

/* Hover effect on nav links */
.nav-links::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  margin: auto;
  transition: 0.5s;
  background: theme(colors.black);
}

.nav-links:hover::after {
  width: 70%;
}

/* Custom line gradient near hero title */
.bw-gradient {
  background: rgb(10, 10, 10);
  background: linear-gradient(180deg,
      rgba(10, 10, 10, 0.8) 40%,
      rgba(153, 153, 161, 0) 70%);
}

/* Custom timeline line CSS */
.vertical-timeline.vertical-timeline-custom-line::before {
  background: linear-gradient(180deg,
      #363062 70%,
      rgba(234, 234, 236, 0.45) 100%);
}

/* Custom reveal scrolling animation */
@keyframes reveal {
  0% {
    opacity: 0;
    translate: 0 100px;
  }

  50% {
    opacity: 0.1;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

.reveal-animation {
  animation: linear reveal both;
  animation-range: entry 5% cover 30% !important;
  animation-timeline: view() !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: theme(colors.navy) theme(colors.beige);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: theme(colors.beige);
}

*::-webkit-scrollbar-thumb {
  border-radius: 16px;
  border: 4px solid theme(colors.beige);
  background-color: theme(colors.navy);
}

*::-webkit-scrollbar-button {
  display: none;
}

/* ARIA-hidden elements */
[aria-hidden='true'] {
  @apply pointer-events-none;
}